/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
/composer.lock
/yarn.lock
/public/_temp
/public/openapi.json
nginx-access.log
nginx-error.log
/work.bat
